<%-include("header")-%>
  <div class="box" id="heading">
    <h1> <%= day %> </h1>
  </div>
  <div class="box">
    <%newItem.forEach(function(item){%>
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=item._id%>"/>
          <p>
            <%= item.name %>
          </p>
        </div>
        <input type="hidden" name="list" value="<%=day%>">
      </form>
  <%  })%>
    <form class="item" action="/" method="post">
      <input type="text" name="nexttodo" placeholder="New item" />
      <button type="submit" name="button" value=<%= day %>>+</button>
    </form>
  </div>

<%-include("footer")-%>
